.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-family: monospace;
}

.App-imageContainer {
  height: 100%;
  width: 100%;
  position: relative;
  cursor: crosshair;
  background-color: #000000;
  border-radius: 8px;
}

.TopBanner {
  height: 100px;
  width: auto;
  background-color: #282C34;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
}

.TopBanner-title {
  font-size: 32px;
  color: #d9def7;
}

.TopBanner-info {
  font-size: 24px;
  color: #d9def7;
}

.Body {
  height: calc(100vh - 100px);
  width: 100vw;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
}

.Body-imageContainer {
  width: 80%;
  height: auto;
  margin: 32px 16px 32px 32px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 0px 25px 16px rgba(228,228,228,0.75);

}

.Body-infoColumn {
  width: 20%;
  height: auto;

  background-color: #FFFFFF;
  margin: 32px 32px 32px 16px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  text-align: center;

  border-radius: 8px;
  color: #282C34;
  box-shadow: 0px 0px 25px 16px rgba(228,228,228,0.75);
}

.ImageGUI {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #dadff7;
}

.InfoColumn {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  gap: 16px;
}


.InfoColumn-title {
  width: 100%;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.InfoColumn-countRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.InfoColumn-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 12px;
}

.InfoColumn-sectionTitle {
  font-size: 36px;
}

.InfoColumn-discardButton {
  width: 100%;
  height: 42px;
  background-color: #FF0000;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  cursor: pointer;
}

.InfoColumn-discardButton:hover {
  background-color: #000000;
  transition: 0.5s;
}

.InfoColumn-optionsRow {
  width: 100%;
  height: 24px;
  display: flex;
  flex-direction: row;
}

.InfoColumn-settings {
  width: calc(100% - 24px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #EEEEEE;
  padding: 12px;
  border-radius: 8px;
  gap: 8px;
}

.InfoColumn-settingsRow {
  width: calc(100% - 24px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #EEEEEE;
  padding: 12px;
  border-radius: 8px;
  gap: 8px;
}


.InfoColumn-option {
  flex-grow: 1;
  height: 24px;
  cursor: pointer;
}

.InfoColumn-typeOption {
  background-color: #FFFFFF;
  color: #282C34;
  font-size: 12px;
  flex-grow: 1;
  height: 24px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.InfoColumn-typeOptionSelected {
  background-color: #282C34;
  color: #FFFFFF;
  font-size: 12px;
  flex-grow: 1;
  height: 24px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.InfoColumn-typeOption:hover {
  background-color: #282C34;
  color: #FFFFFF;
  transition: 0.5s;
}

.InfoColumn-size {
  background-color: #FFFFFF;
  outline: none;
  border: none;
  height: 24px;
  width: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}